@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@model EpiBookingSystem.Models.ViewModels.BookAppointmentBlockViewModel


    <div class="pure-u-1-2 book-appointment-block">
        <h2 class="brand-tagline">Boka behandling</h2>
        @using (Html.BeginForm("BookAppointment", "BookAppointmentBlock", FormMethod.Post, new { @class = "pure-form" }))
        {
            <fieldset class="pure-group">

                @Html.DropDownListFor(m => m.TreatmentId, Model.Treatments, "Välj behandling", new { @class = "pure-input-1-1 input-spacer" })


                <div class='input-group date' id='datetimepicker'>
                    <input type='text' name="Date" />
                    <span class="input-group-addon pure-u-1-1 input-spacer">
                        Välj datum här
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>

                </div>
                <div class="pure-control-group pure-u-2-5">

                    @if (User.IsInRole("WebAdmins"))
                    {
                        <input type="submit" class="pure-button pure-button-primary book-button" value="Boka" disabled />

                    }
                    else
                    {
                        <input type="submit" class="pure-button pure-button-primary book-button" value="Boka" />

                    }
                </div>

                @Html.ValidationMessage("DateTimeNotAvailable")

            </fieldset>
        }


    </div>
    

    <script>

        var arr = @Html.Raw(Json.Encode(Model.BookedDates));

    $(document).ready(function () {

        console.log(arr)

    })

    $('#datetimepicker').datetimepicker({
        daysOfWeekDisabled: [0, 6],
        format: 'YYYY-MM-DD HH:mm',
        sideBySide: true,
        stepping: 60,
        disabledTimeIntervals: arr

    });

    </script>
