body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.header{
    text-align: center;
    
}


.authenticate-button {
    margin: auto;
    width: 100%;
}

.authenticate-container {
    margin: auto;
    width: 300px;
    text-align: center;
    display: block;
}


.align-center > * {
    display: inline-block;
    margin: 0 auto;
    max-width:200px;
}

.content {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
}