@using EpiBookingSystem
@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@model StandardPageViewModel

@{ var userName = System.Web.HttpContext.Current.User.Identity.Name; }


@if (User.Identity.IsAuthenticated)
{
    <p>Hej @userName</p>
    @Html.ActionLink("Log out", "LogOut", "Account")
}
