@using EpiBookingSystem
@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using EPiServer.Core;
@using EPiServer.ServiceLocation;
@using EPiServer;
@using System.Globalization;
@model StandardPageViewModel

@{ var userName = System.Web.HttpContext.Current.User.Identity.Name; }


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (User.IsInRole("Admin"))
{

    <h2>adminvy</h2>
}
else
{
    <div>
        @Html.PropertyFor(x => x.MainContentArea, new { CssClass = "row" })
    </div>
}


@{
    var test = "2019-04-03 10:00";
    var test2 = "2019-04-03 13:00";
    var date1 = DateTime.ParseExact(test, "yyyy-MM-dd HH:mm", CultureInfo.InvariantCulture);
    var date2 = DateTime.ParseExact(test2, "yyyy-MM-dd HH:mm", CultureInfo.InvariantCulture);


    var list = new List<DateTime>();
    list.Add(date1);
    list.Add(date2);

    DateTime[,] tess;

    foreach (var item in list)
    {
        var first = item.AddHours(-1);
        var second = item.AddHours(1);

        DateTime[] arr = new DateTime[] { first, second };

        tess = new DateTime[,] { { first, second } };
    }
}
