@using EpiBookingSystem
@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@model LoginViewModel

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="authenticate-container">
    <div class="pure-u">
        <h1 class="text-box-head">Logga in</h1>

        @using (Html.BeginForm("LogIn", "Account", FormMethod.Post, new { @class = "pure-form align-center" }))
        {
            @Html.AntiForgeryToken()
            <fieldset class="pure-group">
                @Html.TextBoxFor(m => m.Username, new { placeholder = "Användarnamn", @class = "pure-input-1-1" })
                @Html.PasswordFor(m => m.Password, new { placeholder = "Lösenord", @class = "pure-input-1-1" })
                @Html.ValidationMessage("LogInError", new { @class = "pure-form-message-inline" })

                <div class="pure-control-group">

                </div>
                <div class="pure-control-group">
                    <input type="submit" class="pure-button pure-button-primary authenticate-button" value="Logga in" />
                </div>
            </fieldset>
        }
    </div>
</div>